.bg{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

.btnctn{
	position:absolute;
	top: 136px;
	left: 47px;
	height: 233px;
	width: 189px;
	background-color: rgba(67, 89, 161, 0.6);
	z-index: 1;
}

.start{
	position:absolute;
	top: 152px;
	left: 59px;
	width: 167px;
	z-index: 2;
}