.bg{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

.btnctn{
	position:absolute;
	top:10px;
	left:10px;
	height:400px;
	width:200px;
	background-color: rgba(197, 66, 52, 0.2);
	z-index: 1;
}

.start{
	position:absolute;
	top:10px;
	left:10px;
	z-index: 2;
}